.new-kdmid-photo-upload-form {
    font-family: "Helvetica Neue","Helvetica","Arial",sans-serif;
    font-weight: 300;
    line-height: 1.15;

    .applicant-photo__errors {
        color: #a94442;
        margin-top: 5px;
        margin-bottom: 10px;
        font-size: 14px;
        padding: 0;
        width: 320px;

        list-style: none;

        li {
            position: relative;
            padding-left: 20px;
            line-height: 18px;
        }
        li:before {
            content: '';
            position: absolute;
            left: 0;
            width: 18px;
            height: 18px;
            // background-image: url(/public/assets/svg/not-interested.svg);
            background-image: url(https://evisa.kdmid.ru/Content/img/material-not-interested-rounded.svg);
            background-repeat: no-repeat;
            background-position: center;
            font-size: 0;
        }
    }
}